@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>String extensions</h1>
    <h2>Palindroom</h2>
    <p>@ViewBag.Result1.</p>
    <p>@ViewBag.Result2</p>
    
    <h2>Formatter</h2>
    <p>@ViewBag.Test1</p>
    <p>@ViewBag.Test2</p>
    
    <h1>DateTime Extensions</h1>
    <p>@ViewBag.FutureTime</p>
    <p>@ViewBag.PastTime</p>
    
    <h1>Decimal Extensions</h1>
    <p>Euro: @ViewBag.Euro</p>
    <P>US dollars: @ViewBag.US</p>
    <p>Pounds: @ViewBag.UK</p>
    <p>Japan: @ViewBag.Japan</p>
    
    <h1>Int Extensions</h1>
    <p>@ViewBag.EvenCheck</p>
    <p>@ViewBag.OddCheck</p>
</div>