@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Voertuiginformatie</h2>

    <p>@ViewBag.CarInfo</p>
    <p>@ViewBag.BikeInfo</p>

    <h2>Vormen Informatie</h2>

    <p>@ViewBag.RectangleInfo</p>
    <p>@ViewBag.CircleInfo</p>

    <h2>Informatie van Dieren</h2>

    <p>@ViewBag.DogInfo</p>
    <p>@ViewBag.CatInfo</p>
</div>